name: React Native Android Build
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Dependencies
        run: npm install

      - name: Build Android Release
        run: |
          npx expo prebuild --platform android --skip-dependency-check
          cd android && ./gradlew assembleRelease
        env:
          NODE_OPTIONS: "--max-old-space-size=4096"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: FinMan-Release-APK
          path: android/app/build/outputs/apk/release/*.apk
